<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>[[${postre.nombre}]]</title>
</head>
<body>


<div layout:fragment="content" th:object="${postre}">
    <div class="row">
        <div class="col-md-6">
            <img th:src="@{/assets/{filename}(filename=*{rutaImagen})}" th:alt="*{nombre}"
                 class="img-fluid rounded w-100">
        </div>
        <div class="col-md-6">
            <h2 th:text="*{nombre}"></h2>
            <div class="mb-3">
					<span class="badge rounded-pull bg-light text-dark me-1"
                          th:each="categoria : *{categorias}" th:text="${categoria.descripcion}"></span>
                <p th:text="*{descripcion}"></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
